<div id='global' class='maindivision'>
  <%= render 'global_div' %>
</div>
<div id='messages' class='maindivision'>
  <%= render 'messages_div' %>
</div>
<div id='tasks' class='maindivision'>
  <%= render 'tasks_div' %>
</div>
<div id='points' class='maindivision'>
  <%= render 'points_div' %>
</div>